label {
  box-sizing: border-box;
  position: relative;
  min-width: 242px;
  width: 100%;
  padding: 13px 13px;
  &:hover {
    background-color: $basic-disabled;
    cursor: pointer;
  }

  input[type="checkbox"] {
    position: absolute;
    left: 0;
    top: 0;
    margin: 10px 14px;
    width: 18px;
    height: 18px;
    opacity: 0;

    + .icon {
      display: inline-block;
      position: relative;
      left: 0;
      top: 0;
      width: 18px;
      height: 18px;
      border: 1px solid $basic-disabled;
      background-color: $basic-white;
    }

    &:checked + .icon {
      background-color: $positive-color;
      checked: checked;
    }

    &:checked + .icon:before {
      content: "\2714";
      border: 1px solid $positive-color;
      display: inline-block;
      width: 1em;
      height: 1em;
      padding-left: 0.2em;
      // padding-bottom: 0.3em;
      // margin-right: 0.2px;
      color: transparent;
    }

  }

  p {
      color: $basic-black;
      line-height: 42px;
      display: inline-block;
      margin: 13px 23px;
    }
}
