.oneDigList {
	display: inline-block;
	border-bottom: 1px solid $bttn-disabled;
	width: 100vw;
	max-width: 1100px;
	margin: 0 10vw 0 10vw;
	padding: 0;
	.lineHeder {
		display: inline-block;
		text-align: left;
		font-size: $lg-link-fsize;
		line-height: 42px;
		color: $bttn-secondary;
		font-family: $font-roboto;
		font-weight: $heavy-font;
	}
	.oneDigit {
		display: inline-block;
		text-align: right;
		margin: 0 0 0 72vw;
		font-size: $lg-link-fsize;
		line-height: 42px;
		color: $basic-black;
		font-family: $font-roboto;
		font-weight: $light-font;
	}
}
