.sort-Table {
	display: inline-block;
	margin: 2em;
	padding: 1em;
}

.sort-Table .row {
	border-bottom: 1px solid $bttn-disabled;
	&:hover .sort-digitals {
		background-color: $link-hover;
		cursor: pointer;
	}
}

.sort-Table .sort-bttn label {
    display: inline-block;
	font-size: $lg-link-fsize;
	line-height: 15px;
	color: $bttn-secondary;
	font-family: $font-roboto;
	font-weight: $heavy-font;
    margin: 2em;
    padding: 1em;
    transition: .3s;
}

.sort-Table .sort-bttn > input[type="radio"] + label:hover {
    display: inline-block;
    background-color: $hover-gray;
    padding: 1em;
    border-radius: 3px;
    color: $checked-digital;
    cursor: pointer;
	.icoArrowup{
		visibility: visible;
	}
}

.sort-Table .sort-bttn > input[type="radio"]:checked + label {
    display: inline-block;
    background-color: $link-hover;
    padding: 1em;
    border-radius: 3px;
	color: $checked-digital;
	.icoArrowup {
		visibility: visible;
	}
}

.sort-Table .sort-bttn input[type="radio"] + label:active {
	transform: scale(0);
}


.sort-Table .sort-bttn input[type="radio"] {
    display: none;
}

.sort-Table .sort-bttn label .icoArrowup {
	display: inline-block;
	text-align: right;
	margin: 0 5px;
	@include size(10px, 10px);
	color: $bttn-secondary;
	fill: currentColor;
	visibility: hidden;
}

.sort-Table .sort-digitals {
	font-size: 13px;
	line-height: 17px;
	color: #333333;
	font-family: "Roboto";
	font-weight: 300;
	margin: 0;
	padding: 2em 4em;
}

