
.top-menu {
	display: flex;
	justify-content: flex-end;
	width: 100%;
	&-lg, &-sm {
		border-left: 1px solid lightgray;
		padding: 15px;
		img {
			@include size(20px, 20px);
			margin: 0 15px;
			z-index: -1;
		}
		.ico-Arrowdown {
			@include size(10px, 10px);
		}
		.ico-Bell {
			position: relative;
			& ~ .orange-disc {
				@include size(7px, 7px);
				border-radius: 5px;
				background-color: orange;
				z-index: 1;
				position: absolute;
				left: 1023px;
				top: 14px;
				display: inline-block;
			}
		}
	}
}

.main {
	display: flex;
	flex-wrap: nowrap;
	height: 92vh;
	p {
		display: none;
		width: 55px;
		transition: width .5s;
	}
	p.open {
		background-color: $sidebar-bg-color;
		padding: 7px 15px;
		position: absolute;
		top: -37px;
		left: 0px;
		color: white;
		font-family: $font-caveat;
		font-size: $logo-fsize;
		font-weight: $heavy-font;
		z-index: 1;
		width: 220px;
		display: inline-block;
		transition: width .5s;
	}

	&-side-bar {
		background-color: $sidebar-bg-color;
		width: 55px;
		transition: width .5s;
		position: relative;
		&.open {
			width: 263px;
			transition: width .5s;
		}
	    ul {
		    position: absolute;
		    margin: -100px 0 0 -50px;
		    padding-top: 125px;
		    z-index: 0;
	    	li {
				display: none;
			}
		    &.open {
		    	position: absolute;
				width: 250px;
		    	margin: -100px 0 0 -50px;
		    	padding-top: 125px;
		    	list-style-type: none;
				transform: none;
				li {
		    		display: inline-block;
		    		padding: 5px;
		    		margin: 0 10px;
		    	}
		    	svg {
		    		display: inline-block;
		    		@include size(15px, 15px);
		    		fill: $bttn-secondary;
		    	}
			}
		    a {
		    	display: inline-block;
		    	color: #818181;
		    	padding: 10px 10px;
		    	margin: 0 15px;
				font-size: $text-fsize;
				line-height: 20px;
				font-family: $font-roboto;
				font-weight: $light-font;
				&:hover {
					background-color: #282828;
					color: $bttn-color;
					cursor: pointer;
					width: 90%;
					border-top: 1px solid $bttn-secondary;
					border-bottom: 1px solid $bttn-secondary;
					& svg {
						fill: $bttn-color;
					}
				}
				&:active {
					background-color: #282828;
					color: $bttn-color;
					cursor: pointer;
					width: 95%;
					border-top: 1px solid $bttn-secondary;
					border-bottom: 1px solid $bttn-secondary;
					border-left: 4px solid $bttn-primary;
					& svg {
						fill: $bttn-color;
					}
				}
		    }
		    svg {
		    	display: inline-block;
		    	@include size(15px, 15px);
		    	fill: $bttn-secondary;
		    	margin: 0;
		    	padding: 0;
		    }
		    .side-bar-line {
		    	border-top: 2px solid $checked-digital;
		    	margin-top: 10px;
		    	padding-top: 10px;
		    	width: auto;
		    }
		}
	}

	&-side-bar-hamburger {
		display: inline-block;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		padding: 14px 10px;
		background-color: $sidebar-bg-color;
		span {
			display: block;
		    width: 33px;
		    height: 4px;
		    margin-bottom: 5px;
		    position: relative;
		    background: $bttn-secondary-hvr;
		    border-radius: 3px;
		    z-index: 1;
		    transform-origin: 4px 0px;
		    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
		                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
		                opacity 0.55s ease;
			&:first-child {
				transform-origin: 0% 0%;
			}
			&:nth-last-child(2) {
				transform-origin: 0% 100%;
			}
		}
		&.open {
			display: inline-block;
			position: absolute;
			top: 15px;
			left: 173px;
			padding: 0;
			z-index: 2;
			background-color: $sidebar-bg-color;
			span {
				opacity: 1;
	    		transform: rotate(-45deg) translate(-2px, -1px);
	    		background: $bttn-secondary-hvr;
	    		&:nth-last-child(2) {
		    		opacity: 0;
			    	transform: rotate(0deg) scale(0.2, 0.2);
				}
				&:nth-last-child(3) {
					transform: rotate(45deg) translate(0, -1px);
				}
			}
		}
	}

	&-content {
		width: 100%;
		background-color: $bttn-disabled;
	}
}





