.top-menu {
	display: flex;
	justify-content: flex-end;
	width: 100%;
	&-lg, &-sm {
		border-left: 1px solid lightgray;
		padding: 15px;
		img {
			@include size(20px, 20px);
			margin: 0 15px;
			z-index: -1;
		}
		.ico-Arrowdown {
			@include size(10px, 10px);
		}
		.orange-disc {
			@include size(10px, 10px);
			border-round: 5px;
			background: orange;
			z-index: 1;
			position: absolute;
			display: inline-block;
		}
		.ico-Bell {
			position: relative;
		}
	}
}

.main {
	display: flex;
	flex-wrap: nowrap;
	height: 92vh;
	p {
		background-color: $sidebar-bg-color;
		padding: 7px 15px;
		position: absolute;
		top: -37px;
		left: 0px;
		color: white;
		font-family: $font-caveat;
		font-size: $logo-fsize;
		font-weight: $heavy-font;
		z-index: 1;
		width: 235px;
	}
	input[type="checkbox"] {
		display: inline-block;
	    width: 40px;
	    height: 32px;
	    position: absolute;
	    top: 12px;
	    left: 180px;
	    cursor: pointer;
	    opacity: 0; /* hide this */
	    z-index: 3; /* and place it over the hamburger */
	    -webkit-touch-callout: none;
	    &:checked ~ .main-side-bar ul {
			transform: none;
		}
		&:checked ~ .main-side-bar {
			width: 284px;
			// transform: translate(-235px, 0);
			// transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
		}
	    &:checked ~ .main-side-bar-hamburger span {
	    	opacity: 1;
		    transform: rotate(-45deg) translate(-2px, -1px);
		    background: $bttn-secondary-hvr;
		    &:nth-last-child(2) {
			    opacity: 0;
			    transform: rotate(0deg) scale(0.2, 0.2);
			}
			&:nth-last-child(3) {
				transform: rotate(45deg) translate(0, -1px);
			}
	    }
	}

	&-side-bar {
		background-color: $sidebar-bg-color;
		width: 0;
		position: relative;
		// transform-origin: 0% 0%;
		// transform: translate(-235px, 0);
		// transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
		}
	    ul {
		    position: absolute;
			width: 250px;
		    margin: -100px 0 0 -50px;
		    // padding: 50px;
		    padding-top: 125px;
		    list-style-type: none;
		    transform-origin: 0% 0%;
		    transform: translate(-100%, 0);
		    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
		    z-index: 0;
		    a {
		    	display: inline-block;
		    	color: #818181;
		    	padding: 10px 10px;
		    	margin: 0 15px;
				font-size: 22px;
		    }
		    li {
		    	display: inline-block;
		    	padding: 5px;
		    	margin: 0 10px;
		    }
		    .ico-General {
		    	display: inline-block;
		    	@include size(20px, 20px);
		    	fill: #818181;
		    }
		    .ico-Details {
		    	display: inline-block;
		    	@include size(20px, 20px);
		    	fill: #818181;
		    }
		    .ico-Links {
		    	display: inline-block;
		    	@include size(20px, 20px);
		    	fill: #818181;
		    }
		    .ico-Baners {
		    	display: inline-block;
		    	@include size(20px, 20px);
		    	fill: #818181;
		    }
		    .ico-Personal {
		    	display: inline-block;
		    	@include size(20px, 20px);
		    	fill: #818181;
		    }
		}

	&-side-bar-hamburger {
		display: inline-block;
		position: absolute;
		top: 15px;
		left: 183px;
		z-index: 1;
		span {
			display: block;
		    width: 33px;
		    height: 4px;
		    margin-bottom: 5px;
		    position: relative;
		    background: $bttn-secondary-hvr;
		    border-radius: 3px;
		    z-index: 1;
		    transform-origin: 4px 0px;
		    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
		                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
		                opacity 0.55s ease;
			&:first-child {
				transform-origin: 0% 0%;
			}
			&:nth-last-child(2) {
				transform-origin: 0% 100%;
			}
		}
	}
	&-content {
		width: 100%;
		background-color: $bttn-disabled;
	}
}


